<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDd4_N_Rb78r-SNBL4sWS_v0OzuuqfnMOc</string>
	<key>GCM_SENDER_ID</key>
	<string>284071977650</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hobiesApp</string>
	<key>PROJECT_ID</key>
	<string>hobbies-task</string>
	<key>STORAGE_BUCKET</key>
	<string>hobbies-task.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:284071977650:ios:92d8ee68ba08655a3ddfab</string>
</dict>
</plist>